[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "tashu"]
	path = tashu
	url = https://github.com/cran/tashu
	shallow = true
	registered = true
